@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.svgPic {
  position: relative;
  width: 30%;
  height: 100%;
}
.underBg {
  background-color: #b6d3f2;
  width: 100%;
  height: 100%;
}
.CircleLine {
  position: absolute;
  top: 15%;
  right: -15%;
}
.Girl {
  position: absolute;
  top: 10%;
  left: 27%;
  z-index: 2;
}
.titleField {
  position: relative;
  width: 70%;
}
.TitleName {
  position: absolute;
  font-family: "Alata", sans-serif;
  font-size: 5rem;
  top: 20%;
  left: 10%;
  color: #333;
  z-index: 2;
}
html[data-theme="dark"] .TitleName {
  color: #e3e3e3;
}
.RectLine {
  position: absolute;
  top: 20%;
  right: 0;
  width: 80%;
  height: 30%;
  z-index: 1;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .svgPic {
    width: 100%;
    height: 50%;
  }
  .titleField {
    width: 100%;
    height: 30%;
  }
  .underBg {
    width: 40%;
    height: 100%;
  }
  .CircleLine {
    display: none;
  }
  .RectLine {
    height: 60%;
  }
  .TitleName {
    font-size: 4rem;
  }
  .Girl {
    left: 5%;
    top: -30%;
    width: 30em;
  }
}
@media (max-width: 576px) {
  .TitleName {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .Girl {
    width: 22em;
  }
}
